:root {
  --banner-bg-color: #111214;
  --label-color: #bcc0cc;
  --title-color: #f5f8ff;
  --link-color: #1f5aff;
  --quote-bg-color: #f7f9fc;
  --quote-border-color: #3d71ff;
  --button-border-color: #1d56f5;
  --gd-primary-color: linear-gradient(90deg, #1d56f5 50%, #00b3f5 100%);
  --hover-text-color: #ffffff;
  --note-bg-color: rgba(31, 90, 255, 0.1);
  --warning-bg-color: rgba(224, 81, 110, 0.12);
  --warning-font-color: #e03f5f;
  --publish-time-color: #5d657a;
  --category-border-color: #e1e5f0;
  --mobile-padding: 24px;
  --fg-subtle-color: #9397a3;
  --fg-muted-color: #5d657a;
  --bd-primary-color: #1f5aff;

  --font-neue-kaine: 'Neue Kaine';
  --popover-color: #EBEEF5;
  --notification-bg-color: #1F2124;
  --notification-border-color: #2F3033;
  --transition: all 0.25s ease-in-out;


}

body {
  font-family:
    'Mont',
    -apple-system,
    'Microsoft Yahei',
    '微软雅黑',
    'MicrosoftJhengHei',
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  font-style: normal;
  margin: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-neue-kaine);
}

ul li {
  margin: 16px 0;
}
