:root {
  --banner-bg-color: #111214;
  --label-color: #bcc0cc;
  --title-color: #F5F8FF;
  --link-color: #1F5AFF;
  --quote-bg-color: #F7F9FC;
  --quote-border-color: #3D71FF;
  --button-border-color: #1D56F5;
  --color-gd-primary: linear-gradient(90deg, #1D56F5 50%, #00B3F5 100%);
  --hover-text-color: #ffffff;
  --note-bg-color: rgba(31, 90, 255, 0.10);
  --warning-bg-color: rgba(224, 81, 110, 0.12);
  --warning-font-color: #E03F5F;
  --publish-time-color: #5D657A;
  --category-border-color: #E1E5F0;


}

body {
  font-family: 'Mont', -apple-system, 'Microsoft Yahei', '微软雅黑',
  'MicrosoftJhengHei', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
  Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  margin: 0;
}